{% extends 'base.html' %} {% block title %}Sign Up{% endblock %} {% block content %}

<form action="" method="post">
   <h3 align="center" class="my-3">Sign Up</h3>
   <div class="form-group mb-3">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
   </div>
   <div class="form-group mb-3">
      <label for="firstname">First Name</label>
      <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter first name" />
   </div>
   <div class="form-group mb-3">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
   </div>
   <div class="form-group mb-3">
      <label for="cpassword">Password (confirm)</label>
      <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Confirm password" />
   </div>
   <button class="btn btn-primary my-3" type="submit">Sign Up</button>
</form>

{% endblock %}
